In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1. Concatenate all data files

In [2]:
def Data_Files(path):
    filelist = []
    for dirpath, dirnames, filenames in os.walk(path):
        for name in filenames:
            filelist.append(os.path.join(dirpath,name))
    print("The number of files：",len(filelist))
    return filelist

In [3]:
csv_list = Data_Files('csvs_per_year/csvs_per_year/')

The number of files： 18

In [4]:
dataset = []
for filename in csv_list:
    data_single = pd.read_csv(filename)
    #data_single = data_single.dropna(axis=[0,1])
    dataset.append(data_single)

In [5]:
data_concat = pd.concat(dataset,sort=False)
#data_concat.to_csv('raw_data.csv',index=False)

In [6]:
data_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3808224 entries, 0 to 69095
Data columns (total 19 columns):
date       object
BEN        float64
CO         float64
EBE        float64
MXY        float64
NMHC       float64
NO_2       float64
NOx        float64
OXY        float64
O_3        float64
PM10       float64
PXY        float64
SO_2       float64
TCH        float64
TOL        float64
station    int64
PM25       float64
NO         float64
CH4        float64
dtypes: float64(17), int64(1), object(1)
memory usage: 581.1+ MB

In [7]:
data_concat.date.tail()

69091    2018-02-01 00:00:00
69092    2018-02-01 00:00:00
69093    2018-02-01 00:00:00
69094    2018-02-01 00:00:00
69095    2018-02-01 00:00:00
Name: date, dtype: object

In [8]:
data_concat.columns.values

array(['date', 'BEN', 'CO', 'EBE', 'MXY', 'NMHC', 'NO_2', 'NOx', 'OXY',
       'O_3', 'PM10', 'PXY', 'SO_2', 'TCH', 'TOL', 'station', 'PM25',
       'NO', 'CH4'], dtype=object)

In [8]:
station_name = data_concat.station.unique()

In [9]:
len(station_name)

39

In [14]:
for i in range(len(station_name)):
    data_concat[data_concat['station']== int(station_name[i])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72336 entries, 0 to 200111
Data columns (total 19 columns):
date       72336 non-null object
BEN        0 non-null float64
CO         71865 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       71897 non-null float64
NOx        71894 non-null float64
OXY        0 non-null float64
O_3        71216 non-null float64
PM10       71920 non-null float64
PXY        0 non-null float64
SO_2       71985 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    72336 non-null int64
PM25       44406 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 115656 entries, 1 to 69080
Data columns (total 19 columns):
date       115656 non-null object
BEN        50530 non-null float64
CO         114804 non-null float64
EBE        50547 non-null float64
MXY        50407 non-null float64
NMHC       47626 non-null float64
NO_2       114841 non-null float64
NOx        56470 non-null float64
OXY        50530 non-null float64
O_3        113905 non-null float64
PM10       51328 non-null float64
PXY        50493 non-null float64
SO_2       114523 non-null float64
TCH        47636 non-null float64
TOL        50472 non-null float64
station    115656 non-null int64
PM25       0 non-null float64
NO         63438 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 17.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 87264 entries, 2 to 209426
Data columns (total 19 columns):
date       87264 non-null object
BEN        0 non-null float64
CO         86476 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       86370 non-null float64
NOx        86369 non-null float64
OXY        0 non-null float64
O_3        85658 non-null float64
PM10       76372 non-null float64
PXY        0 non-null float64
SO_2       86453 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    87264 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 13.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151776 entries, 3 to 69072
Data columns (total 19 columns):
date       151776 non-null object
BEN        0 non-null float64
CO         151213 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       151273 non-null float64
NOx        92320 non-null float64
OXY        0 non-null float64
O_3        78520 non-null float64
PM10       78274 non-null float64
PXY        0 non-null float64
SO_2       151311 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    151776 non-null int64
PM25       0 non-null float64
NO         64030 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 148824 entries, 4 to 69083
Data columns (total 19 columns):
date       148824 non-null object
BEN        0 non-null float64
CO         148095 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       148100 non-null float64
NOx        89205 non-null float64
OXY        0 non-null float64
O_3        146894 non-null float64
PM10       74725 non-null float64
PXY        0 non-null float64
SO_2       75435 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    148824 non-null int64
PM25       0 non-null float64
NO         63924 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 22.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75480 entries, 5 to 215667
Data columns (total 19 columns):
date       75480 non-null object
BEN        73606 non-null float64
CO         74895 non-null float64
EBE        73578 non-null float64
MXY        73516 non-null float64
NMHC       74493 non-null float64
NO_2       74699 non-null float64
NOx        74697 non-null float64
OXY        73560 non-null float64
O_3        74865 non-null float64
PM10       74785 non-null float64
PXY        73572 non-null float64
SO_2       74880 non-null float64
TCH        74527 non-null float64
TOL        73461 non-null float64
station    75480 non-null int64
PM25       50250 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 76488 entries, 6 to 215668
Data columns (total 19 columns):
date       76488 non-null object
BEN        0 non-null float64
CO         75930 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       74719 non-null float64
NO_2       75798 non-null float64
NOx        75798 non-null float64
OXY        0 non-null float64
O_3        75788 non-null float64
PM10       75617 non-null float64
PXY        0 non-null float64
SO_2       75849 non-null float64
TCH        74740 non-null float64
TOL        0 non-null float64
station    76488 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77808 entries, 7 to 215670
Data columns (total 19 columns):
date       77808 non-null object
BEN        0 non-null float64
CO         77307 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       77093 non-null float64
NOx        77089 non-null float64
OXY        0 non-null float64
O_3        77157 non-null float64
PM10       76510 non-null float64
PXY        0 non-null float64
SO_2       77334 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    77808 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151776 entries, 8 to 69082
Data columns (total 19 columns):
date       151776 non-null object
BEN        71690 non-null float64
CO         78496 non-null float64
EBE        70999 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       151055 non-null float64
NOx        92103 non-null float64
OXY        0 non-null float64
O_3        77184 non-null float64
PM10       145065 non-null float64
PXY        0 non-null float64
SO_2       151194 non-null float64
TCH        0 non-null float64
TOL        71507 non-null float64
station    151776 non-null int64
PM25       112620 non-null float64
NO         64028 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151848 entries, 9 to 69074
Data columns (total 19 columns):
date       151848 non-null object
BEN        72677 non-null float64
CO         78517 non-null float64
EBE        72648 non-null float64
MXY        0 non-null float64
NMHC       71580 non-null float64
NO_2       151214 non-null float64
NOx        92258 non-null float64
OXY        0 non-null float64
O_3        78380 non-null float64
PM10       78428 non-null float64
PXY        0 non-null float64
SO_2       78496 non-null float64
TCH        71620 non-null float64
TOL        72465 non-null float64
station    151848 non-null int64
PM25       0 non-null float64
NO         64024 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 78864 entries, 10 to 215673
Data columns (total 19 columns):
date       78864 non-null object
BEN        0 non-null float64
CO         78584 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       10249 non-null float64
NO_2       78544 non-null float64
NOx        78546 non-null float64
OXY        0 non-null float64
O_3        78454 non-null float64
PM10       75303 non-null float64
PXY        0 non-null float64
SO_2       78465 non-null float64
TCH        10250 non-null float64
TOL        0 non-null float64
station    78864 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 12.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151608 entries, 11 to 69084
Data columns (total 19 columns):
date       151608 non-null object
BEN        0 non-null float64
CO         78415 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       28941 non-null float64
NO_2       150893 non-null float64
NOx        92096 non-null float64
OXY        0 non-null float64
O_3        78415 non-null float64
PM10       150504 non-null float64
PXY        0 non-null float64
SO_2       150816 non-null float64
TCH        29009 non-null float64
TOL        0 non-null float64
station    151608 non-null int64
PM25       0 non-null float64
NO         63859 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 78072 entries, 12 to 215675
Data columns (total 19 columns):
date       78072 non-null object
BEN        0 non-null float64
CO         77812 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       77737 non-null float64
NOx        77739 non-null float64
OXY        0 non-null float64
O_3        76780 non-null float64
PM10       77086 non-null float64
PXY        0 non-null float64
SO_2       77801 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    78072 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 68280 entries, 13 to 217979
Data columns (total 19 columns):
date       68280 non-null object
BEN        60600 non-null float64
CO         67720 non-null float64
EBE        60274 non-null float64
MXY        0 non-null float64
NMHC       67493 non-null float64
NO_2       67800 non-null float64
NOx        67797 non-null float64
OXY        0 non-null float64
O_3        66792 non-null float64
PM10       64622 non-null float64
PXY        0 non-null float64
SO_2       67823 non-null float64
TCH        67551 non-null float64
TOL        60588 non-null float64
station    68280 non-null int64
PM25       40599 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 10.4+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151776 entries, 14 to 69075
Data columns (total 19 columns):
date       151776 non-null object
BEN        0 non-null float64
CO         151182 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       151290 non-null float64
NOx        92321 non-null float64
OXY        0 non-null float64
O_3        151131 non-null float64
PM10       75920 non-null float64
PXY        0 non-null float64
SO_2       78497 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    151776 non-null int64
PM25       0 non-null float64
NO         64045 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 149760 entries, 15 to 69077
Data columns (total 19 columns):
date       149760 non-null object
BEN        70546 non-null float64
CO         149053 non-null float64
EBE        70517 non-null float64
MXY        0 non-null float64
NMHC       31463 non-null float64
NO_2       148971 non-null float64
NOx        90657 non-null float64
OXY        0 non-null float64
O_3        149067 non-null float64
PM10       144079 non-null float64
PXY        0 non-null float64
SO_2       149020 non-null float64
TCH        31441 non-null float64
TOL        70327 non-null float64
station    149760 non-null int64
PM25       0 non-null float64
NO         63334 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 22.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 78840 entries, 16 to 215678
Data columns (total 19 columns):
date       78840 non-null object
BEN        0 non-null float64
CO         78560 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       78515 non-null float64
NOx        78515 non-null float64
OXY        0 non-null float64
O_3        78480 non-null float64
PM10       78460 non-null float64
PXY        0 non-null float64
SO_2       78565 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    78840 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 12.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151056 entries, 17 to 69081
Data columns (total 19 columns):
date       151056 non-null object
BEN        0 non-null float64
CO         150561 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       150508 non-null float64
NOx        92074 non-null float64
OXY        0 non-null float64
O_3        77309 non-null float64
PM10       150164 non-null float64
PXY        0 non-null float64
SO_2       150563 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    151056 non-null int64
PM25       0 non-null float64
NO         63502 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77928 entries, 18 to 215680
Data columns (total 19 columns):
date       77928 non-null object
BEN        0 non-null float64
CO         77340 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       77358 non-null float64
NOx        77358 non-null float64
OXY        0 non-null float64
O_3        76002 non-null float64
PM10       77339 non-null float64
PXY        0 non-null float64
SO_2       77396 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    77928 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77832 entries, 19 to 215681
Data columns (total 19 columns):
date       77832 non-null object
BEN        34553 non-null float64
CO         77441 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       77547 non-null float64
NOx        77546 non-null float64
OXY        0 non-null float64
O_3        77402 non-null float64
PM10       77403 non-null float64
PXY        0 non-null float64
SO_2       77518 non-null float64
TCH        0 non-null float64
TOL        33732 non-null float64
station    77832 non-null int64
PM25       49885 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 78744 entries, 20 to 215682
Data columns (total 19 columns):
date       78744 non-null object
BEN        64835 non-null float64
CO         78431 non-null float64
EBE        64801 non-null float64
MXY        0 non-null float64
NMHC       77397 non-null float64
NO_2       78430 non-null float64
NOx        78429 non-null float64
OXY        0 non-null float64
O_3        77617 non-null float64
PM10       67426 non-null float64
PXY        0 non-null float64
SO_2       78434 non-null float64
TCH        77470 non-null float64
TOL        64606 non-null float64
station    78744 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 12.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151416 entries, 21 to 69078
Data columns (total 19 columns):
date       151416 non-null object
BEN        137910 non-null float64
CO         149779 non-null float64
EBE        133762 non-null float64
MXY        72331 non-null float64
NMHC       148472 non-null float64
NO_2       149782 non-null float64
NOx        91247 non-null float64
OXY        72331 non-null float64
O_3        149135 non-null float64
PM10       149058 non-null float64
PXY        72332 non-null float64
SO_2       149833 non-null float64
TCH        148522 non-null float64
TOL        137898 non-null float64
station    151416 non-null int64
PM25       121807 non-null float64
NO         63585 non-null float64
CH4        4911 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 23.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69048 entries, 22 to 215684
Data columns (total 19 columns):
date       69048 non-null object
BEN        37386 non-null float64
CO         68151 non-null float64
EBE        37380 non-null float64
MXY        37382 non-null float64
NMHC       0 non-null float64
NO_2       68272 non-null float64
NOx        68274 non-null float64
OXY        37433 non-null float64
O_3        67983 non-null float64
PM10       56046 non-null float64
PXY        37381 non-null float64
SO_2       68089 non-null float64
TCH        0 non-null float64
TOL        37381 non-null float64
station    69048 non-null int64
PM25       0 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 10.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 87648 entries, 23 to 209447
Data columns (total 19 columns):
date       87648 non-null object
BEN        87128 non-null float64
CO         87621 non-null float64
EBE        87036 non-null float64
MXY        81779 non-null float64
NMHC       86828 non-null float64
NO_2       87571 non-null float64
NOx        87603 non-null float64
OXY        81841 non-null float64
O_3        87624 non-null float64
PM10       87576 non-null float64
PXY        81806 non-null float64
SO_2       87619 non-null float64
TCH        87015 non-null float64
TOL        87174 non-null float64
station    87648 non-null int64
PM25       60291 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 13.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 114528 entries, 18423 to 69076
Data columns (total 19 columns):
date       114528 non-null object
BEN        0 non-null float64
CO         38894 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       113873 non-null float64
NOx        54992 non-null float64
OXY        0 non-null float64
O_3        113205 non-null float64
PM10       38778 non-null float64
PXY        0 non-null float64
SO_2       113861 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    114528 non-null int64
PM25       0 non-null float64
NO         63953 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 17.5+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139608 entries, 53694 to 69073
Data columns (total 19 columns):
date       139608 non-null object
BEN        132088 non-null float64
CO         138760 non-null float64
EBE        132067 non-null float64
MXY        0 non-null float64
NMHC       117187 non-null float64
NO_2       138423 non-null float64
NOx        79975 non-null float64
OXY        0 non-null float64
O_3        137820 non-null float64
PM10       135851 non-null float64
PXY        0 non-null float64
SO_2       138622 non-null float64
TCH        117265 non-null float64
TOL        131656 non-null float64
station    139608 non-null int64
PM25       73664 non-null float64
NO         63516 non-null float64
CH4        5004 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 21.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 61608 entries, 25 to 56607
Data columns (total 19 columns):
date       61608 non-null object
BEN        41077 non-null float64
CO         0 non-null float64
EBE        41080 non-null float64
MXY        0 non-null float64
NMHC       60891 non-null float64
NO_2       61317 non-null float64
NOx        61316 non-null float64
OXY        0 non-null float64
O_3        60988 non-null float64
PM10       61236 non-null float64
PXY        0 non-null float64
SO_2       61010 non-null float64
TCH        60940 non-null float64
TOL        41054 non-null float64
station    61608 non-null int64
PM25       51156 non-null float64
NO         0 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 9.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 134376 entries, 26 to 69079
Data columns (total 19 columns):
date       134376 non-null object
BEN        40444 non-null float64
CO         0 non-null float64
EBE        40442 non-null float64
MXY        0 non-null float64
NMHC       97484 non-null float64
NO_2       133738 non-null float64
NOx        74714 non-null float64
OXY        0 non-null float64
O_3        72702 non-null float64
PM10       61100 non-null float64
PXY        0 non-null float64
SO_2       61169 non-null float64
TCH        97507 non-null float64
TOL        40383 non-null float64
station    134376 non-null int64
PM25       0 non-null float64
NO         64101 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 20.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73656 entries, 73197 to 69092
Data columns (total 19 columns):
date       73656 non-null object
BEN        0 non-null float64
CO         73296 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       73410 non-null float64
NOx        14427 non-null float64
OXY        0 non-null float64
O_3        0 non-null float64
PM10       73427 non-null float64
PXY        0 non-null float64
SO_2       73399 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    73656 non-null int64
PM25       0 non-null float64
NO         64056 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73704 entries, 73198 to 69093
Data columns (total 19 columns):
date       73704 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       19338 non-null float64
NO_2       73358 non-null float64
NOx        14556 non-null float64
OXY        0 non-null float64
O_3        73144 non-null float64
PM10       0 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        19794 non-null float64
TOL        0 non-null float64
station    73704 non-null int64
PM25       0 non-null float64
NO         63877 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73512 entries, 78546 to 69089
Data columns (total 19 columns):
date       73512 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       73191 non-null float64
NOx        14297 non-null float64
OXY        0 non-null float64
O_3        73039 non-null float64
PM10       0 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    73512 non-null int64
PM25       0 non-null float64
NO         63963 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73296 entries, 80133 to 69094
Data columns (total 19 columns):
date       73296 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       72910 non-null float64
NOx        14207 non-null float64
OXY        0 non-null float64
O_3        72918 non-null float64
PM10       0 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    73296 non-null int64
PM25       0 non-null float64
NO         63776 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73272 entries, 83994 to 69085
Data columns (total 19 columns):
date       73272 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       73077 non-null float64
NOx        14101 non-null float64
OXY        0 non-null float64
O_3        0 non-null float64
PM10       72779 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    73272 non-null int64
PM25       72420 non-null float64
NO         64055 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73008 entries, 14 to 69087
Data columns (total 19 columns):
date       73008 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       72692 non-null float64
NOx        13837 non-null float64
OXY        0 non-null float64
O_3        72746 non-null float64
PM10       0 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    73008 non-null int64
PM25       0 non-null float64
NO         63935 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 71376 entries, 15 to 69088
Data columns (total 19 columns):
date       71376 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       70720 non-null float64
NOx        12015 non-null float64
OXY        0 non-null float64
O_3        0 non-null float64
PM10       69636 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    71376 non-null int64
PM25       69054 non-null float64
NO         63763 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 10.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72552 entries, 17 to 69090
Data columns (total 19 columns):
date       72552 non-null object
BEN        66614 non-null float64
CO         0 non-null float64
EBE        66593 non-null float64
MXY        0 non-null float64
NMHC       71151 non-null float64
NO_2       72272 non-null float64
NOx        13328 non-null float64
OXY        0 non-null float64
O_3        0 non-null float64
PM10       71949 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        71154 non-null float64
TOL        66225 non-null float64
station    72552 non-null int64
PM25       0 non-null float64
NO         64013 non-null float64
CH4        4935 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72264 entries, 18 to 69091
Data columns (total 19 columns):
date       72264 non-null object
BEN        0 non-null float64
CO         71814 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       71745 non-null float64
NOx        13174 non-null float64
OXY        0 non-null float64
O_3        71744 non-null float64
PM10       2756 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    72264 non-null int64
PM25       2760 non-null float64
NO         63629 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72048 entries, 22 to 69095
Data columns (total 19 columns):
date       72048 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       71757 non-null float64
NOx        12718 non-null float64
OXY        0 non-null float64
O_3        71668 non-null float64
PM10       71721 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    72048 non-null int64
PM25       0 non-null float64
NO         64115 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 11.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69288 entries, 33829 to 69086
Data columns (total 19 columns):
date       69288 non-null object
BEN        0 non-null float64
CO         0 non-null float64
EBE        0 non-null float64
MXY        0 non-null float64
NMHC       0 non-null float64
NO_2       69009 non-null float64
NOx        10213 non-null float64
OXY        0 non-null float64
O_3        0 non-null float64
PM10       68012 non-null float64
PXY        0 non-null float64
SO_2       0 non-null float64
TCH        0 non-null float64
TOL        0 non-null float64
station    69288 non-null int64
PM25       67512 non-null float64
NO         63876 non-null float64
CH4        0 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 10.6+ MB