In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1. Concatenate all data files

In [2]:
def Data_Files(path):
    filelist = []
    for dirpath, dirnames, filenames in os.walk(path):
        for name in filenames:
            filelist.append(os.path.join(dirpath,name))
    print("The number of files：",len(filelist))
    return filelist

In [3]:
csv_list = Data_Files('csvs_per_year/csvs_per_year/')

The number of files： 18

In [4]:
dataset = []
col_diff = {}
for filename in  csv_list:
    data_single = pd.read_csv(filename)
    col_vab = data_single.columns.values.tolist()

    data_single = data_single.dropna(axis=[0,1])
    dataset.append(data_single)
    dic_vab = {filename.split('/')[-1]:col_vab}
    col_diff.update(dic_vab)

C:\Users\USER\Anaconda3\envs\tftest\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: supplying multiple axes to axis is deprecated and will be removed in a future version.
  import sys

In [5]:
pd.DataFrame.from_dict(col_diff, orient='index')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
madrid_2001.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PXY,SO_2,TCH,TOL,station,None
madrid_2002.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PXY,SO_2,TCH,TOL,station,None
madrid_2003.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PXY,SO_2,TCH,TOL,station,None
madrid_2004.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2005.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2006.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2007.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2008.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2009.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2010.csv,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PM25,PXY,SO_2,TCH,TOL,station
madrid_2011.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2012.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2013.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2014.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2015.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2016.csv,date,BEN,CO,EBE,NMHC,NO,NO_2,O_3,PM10,PM25,SO_2,TCH,TOL,station,None,None,None
madrid_2017.csv,date,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL,station,None
madrid_2018.csv,date,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL,station,None

In [6]:
data_concat = pd.concat(dataset,sort=False)
#data_concat.to_csv('clean_data.csv',index=False)

In [7]:
data_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332026 entries, 1 to 69078
Data columns (total 19 columns):
date       332026 non-null object
BEN        332026 non-null float64
CO         332026 non-null float64
EBE        332026 non-null float64
MXY        241742 non-null float64
NMHC       332026 non-null float64
NO_2       332026 non-null float64
NOx        250431 non-null float64
OXY        241742 non-null float64
O_3        332026 non-null float64
PM10       332026 non-null float64
PXY        241742 non-null float64
SO_2       332026 non-null float64
TCH        332026 non-null float64
TOL        332026 non-null float64
station    332026 non-null int64
PM25       236966 non-null float64
NO         90284 non-null float64
CH4        8689 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 50.7+ MB

In [8]:
dropFeatures = ['MXY' , 'OXY' , 'PXY' , 
                'PM25' , 'NO' ,'CH4','NOx']

data_clean=data_concat.drop(dropFeatures,axis=1)
#data_clean.to_csv('data_clean_remove_some_val.csv',index=False)
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332026 entries, 1 to 69078
Data columns (total 12 columns):
date       332026 non-null object
BEN        332026 non-null float64
CO         332026 non-null float64
EBE        332026 non-null float64
NMHC       332026 non-null float64
NO_2       332026 non-null float64
O_3        332026 non-null float64
PM10       332026 non-null float64
SO_2       332026 non-null float64
TCH        332026 non-null float64
TOL        332026 non-null float64
station    332026 non-null int64
dtypes: float64(10), int64(1), object(1)
memory usage: 32.9+ MB

In [9]:
data_clean.columns.values

array(['date', 'BEN', 'CO', 'EBE', 'NMHC', 'NO_2', 'O_3', 'PM10', 'SO_2',
       'TCH', 'TOL', 'station'], dtype=object)

In [10]:
data_clean.head()

,date,BEN,CO,EBE,NMHC,NO_2,O_3,PM10,SO_2,TCH,TOL,station
1,2001-08-01 01:00:00,1.50,0.34,1.49,0.07,56.250000,42.160000,100.599998,8.11,1.24,10.82,28079035
5,2001-08-01 01:00:00,2.11,0.63,2.48,0.05,66.260002,33.500000,122.699997,6.36,1.23,13.28,28079006
21,2001-08-01 01:00:00,0.80,0.43,0.71,0.10,27.190001,56.990002,114.300003,10.84,1.42,3.43,28079024
23,2001-08-01 01:00:00,1.29,0.34,1.41,0.07,40.750000,51.580002,102.199997,7.97,1.30,7.83,28079099
25,2001-08-01 02:00:00,0.87,0.06,0.88,0.01,29.709999,56.520000,56.290001,6.90,1.17,6.49,28079035

In [11]:
station_name = data_clean.station.unique()

In [12]:
station_name

array([28079035, 28079006, 28079024, 28079099, 28079008], dtype=int64)

In [13]:
len(station_name)

5

## 28079035

In [ ]:
air_28079035 = data_clean[data_clean['station']== int(station_name[0])]

In [ ]:
air_28079035.info()

In [ ]:
air_28079035.date.head()

In [ ]:
air_28079035.date.tail()

## 28079006

In [ ]:
air_28079006 = data_clean[data_clean['station']== int(station_name[1])]

In [ ]:
air_28079006.info()

In [ ]:
air_28079006.date.head()

In [ ]:
air_28079006.date.tail()

## 28079024

In [ ]:
air_28079024 = data_clean[data_clean['station']== int(station_name[2])]

In [ ]:
air_28079024.info()

In [ ]:
air_28079024.date.head()

In [ ]:
air_28079024.date.tail()

## 28079099

In [ ]:
air_28079099 = data_clean[data_clean['station']== int(station_name[3])]

In [ ]:
air_28079099.info()

In [ ]:
air_28079099.date.head()

In [ ]:
air_28079099.date.tail()

## 28079008

In [ ]:
air_28079008 = data_clean[data_clean['station']== int(station_name[4])]

In [ ]:
air_28079008.info()

In [ ]:
air_28079008.date.head()

In [ ]:
air_28079008.date.tail()